.card {
  border: none;
  border: 0.2rem solid white;
  border-bottom: 0.2rem solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 400px;
  max-width: 70vw;
  margin: 0.5rem 0
}

.card:hover, .card:focus, .card:active {
  border: 0.2rem solid #0070f3;
}

.quizPreviewList {
  margin-top: 0.5rem;
  background-color: white;
  padding: 0.5rem 1rem;
}

.quizPreviewListHeader {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  margin-top: 1rem;
  border-bottom: 0.2rem solid #eaeaea;
  padding: 0.5rem;
}

.mainHeader {
  font-size: 1.5rem;
  font-weight: bold
}

.subHeader {
  font-size: 1.2rem;
  font-weight: bold
}

.tagsList {
  display: flex;
  flex-direction: row;
}

.tag {
  background-color: rgb(91, 102, 253);
  margin: 0 0.25rem 0 0;
  border-radius: 0.5rem;
  padding: 0.1rem 0.2rem;
  color: white
}