.container {
  min-width: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainNew {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

.mainRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  mix-blend-mode: difference;
  font-size: 1.5rem;
  background-color: white;
  color: black;
}

.containerLeft {
  margin-right: 200px;
}

.containerRight {
  margin-left: 200px;
}

.mainFloating {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  align-self: flex-end;
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.textContainer {
  margin: 0;
  color: white;
  line-height: 1.15;
  font-size: 4rem;
  mix-blend-mode: difference;
  min-width: 30vh;
}

.title, .description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  align-self: flex-start;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  align-self: flex-start;
  flex-direction: column;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.priceTag {
  font-size: 1.5rem;
  color: rgb(116, 116, 253);
  font-weight: bold;
}

.card {
  margin: 1rem;
  width: 18rem;
  border-radius: 1rem;
  flex-basis: 30%;
  border: 0.5rem solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 400px;
}

.card:hover, .card:focus, .card:active {
  border-color: #0070f3;
}

.logo {
  height: 1em;
}

.button {
  font: bold;
  margin: 0 3rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: black;
}

.buttonDark {
  font: bold;
  margin: 0 3rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: white;
}

.buttonList {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.highlightCardText {
  color: purple;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.textBox {
  max-width: 450px;
}

.highlightCardTextRight {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.infoContainer {
  font-size: 3rem;
  flex-direction: row;
  border-top: 1px solid #eaeaea;
  margin-top: 3rem;
  width: 100%;
}

.infoCard {
  flex-wrap: wrap;
  display: inline-block;
  margin: 1rem 1rem 1rem 0rem;
  min-width: 30%;
}

.infoNumber {
  font-size: 3rem;
  font: bold;
}

.infoItem {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}