.container {
  min-width: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainNew {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button {
  font: bold;
  margin: 0 3rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: rgb(20, 17, 179);
  border-color: rgb(20, 17, 179);
}

.mainLeft {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  max-height: 100vh;
  font-size: 1.5rem;
  color: rgb(86, 28, 201);
  border-radius: 0;
}

.mainImageContainer {
  position: absolute;
  z-index: 10;
  flex-direction: row;
  display: flex;
  width: 400px;
  height: 400px;
}

.mainImageLeftFilterContainer {
  filter: invert(17%) sepia(83%) saturate(4453%) hue-rotate(258deg) brightness(77%) contrast(108%);
  overflow: hidden;
  width: 200px;
}

.jumbotronLeftImageContainer {
  filter: invert(17%) sepia(83%) saturate(4453%) hue-rotate(258deg) brightness(77%) contrast(108%);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 50px;
  display: flex;
}

.mainImageRightFilterContainer {
  filter: invert(1);
  overflow: hidden;
  width: 200px;
}

.mainImageLeft {
  width: 400px;
  height: 400px;
}

.mainImageRight {
  width: 400px;
  height: 400px;
  margin-left: -200px;
}

.mainRight {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  mix-blend-mode: difference;
  font-size: 1.5rem;
  background-color: rgb(170, 228, 55);
  color: black;
  border-radius: 0;
}

.mainSignUp {
  min-width: 30vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  background-color: white;
  color: black;
}

.mainSignUpInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  color: black;
}

.containerLeft {
  flex: 1;
  padding-top: clamp(200px, 20vh, 20vh);
}

.containerLeftWrap {
  flex: 1
}

.containerLeftPaddingLeft {
  flex: 1;
  max-width: clamp(200px, 10vw, 10vw);
}

.containerLeftPaddingRight {
  flex: 1;
  min-width: clamp(200px, 10vw, 10vw);
}

.containerRight {
  flex: 1;
  padding-top: clamp(200px, 20vh, 20vh);
  max-width: 400px;
}

.containerRightWrap {
  flex: 1;
}

.containerTextWrap {
  flex: 1;
  flex-direction: row;
  display: flex;
}

.containerTextWrap {
  flex: 1;
  flex-direction: row;
  display: flex;
}

.containerRightPaddingLeft {
  flex: 1;
  min-width: 200px;
}

.containerRightPaddingRight {
  flex: 1;
  max-width: clamp(50px, 3vw, 3vw);
}

.jumbotronInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  filter: drop-shadow(2px 2px 2px rgb(187, 187, 187));
}

.jumbotronInfoCardImage {
  width: 20px;
}

.jumbotronInfoCard {
  padding-top: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  min-width: 300px;
  max-width: 30%;
  border-right: 0.5rem solid #eaeaea;
}


.jumbotronInfoCardDark {
  padding-top: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  min-width: 300px;
  max-width: 30%;
  border-right: 0.25rem solid rgb(75, 75, 75);
}

.textBoxMiddle {
  max-width: 750px;
}

.textContainer {
  flex: 1;
}

.mainFloating {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  align-self: flex-end;
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.textContainer {
  margin: 0;
  color: white;
  line-height: 1.15;
  font-size: 4rem;
  mix-blend-mode: difference;
  min-width: 30vh;
}

.title, .description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  align-self: flex-start;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
  align-self: flex-start;
  flex-direction: column;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.priceTag {
  font-size: 1.5rem;
  color: rgb(116, 116, 253);
  font-weight: bold;
}

.card {
  margin: 1rem;
  width: 18rem;
  border-radius: 1rem;
  flex-basis: 30%;
  border: 0.5rem solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 400px;
}

.card:hover, .card:focus, .card:active {
  border-color: #0070f3;
}

.logo {
  height: 1em;
}

.buttonDark {
  font: bold;
  margin: 0 3rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: white;
}

.buttonList {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.highlightCardText {
  color: rgb(247, 55, 247);
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.textBox {
  max-width: 450px;
}

.highlightCardTextRight {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.infoContainer {
  font-size: 3rem;
  flex-direction: row;
  border-top: 1px solid #eaeaea;
  margin-top: 3rem;
  width: 100%;
}

.infoCard {
  flex-wrap: wrap;
  display: inline-block;
  margin: 1rem 1rem 1rem 0rem;
  min-width: 30%;
}

.infoNumber {
  font-size: 3rem;
  font: bold;
}

.infoItem {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}