.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
}

.panel {
    padding: 1rem;
    width: 50rem;
    margin: 1rem;
}

.buttonImg {
    width: 0.75rem;
}

.step {
    margin: 0 1rem;
}

.stepContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem 0 1rem;
}

.expandButton {
    border-radius: 50%;
    border-color: black;
    padding: 0 0.3rem;
    /* width: 1.5rem;
    height: 1.5rem; */
}

.expandButton:active {
  background-color: lightgray;
  box-shadow: 0 5px #666;
  transform: translateX(0.125rem);
}

.expandButton:focus {
    outline: 0 !important;
}