.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
}

.panel {
    padding: 1rem;
    width: 50rem;
    margin: 1rem;
}

.buttonImg {
    width: 0.75rem;
}

.step {
    margin: 0 1rem;
    border-left: 0.5rem solid rgb(89, 89, 255);
    background-color: rgb(221, 239, 252);
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    border-radius: 0.25rem;
}

.alwaysVisibleStep {
    animation: none !important;
}

.stepContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem 0 1rem;
}

.stepInput {
    background: transparent;
    border: none;
    padding: 0.5rem;
}

.stepInputText:focus {
    outline: none;
}

.stepInput:focus-within {
    outline: 2px solid black;
    outline-offset: -2px;
}

.stepText {
    background: transparent;
    border: none;
    padding: 0.5rem;
}

@keyframes example {
    from {
        background-color: rgb(89, 89, 255);
    }
    to {
        background-color: rgb(221, 239, 252);
    }
}

.expandButton {
    border-radius: 50%;
    border-color: black;
    padding: 0 0.3rem;
}

.expandButtonPlaceholder {
    width: 1.6rem;
    height: 1.5rem;
}

.expandButton:active {
    background-color: lightgray;
    box-shadow: 0 5px #666;
    transform: translateX(0.125rem);
}

.expandButton:focus {
    outline: 0 !important;
}