.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    min-width: 100vw;
}

.profileContainer {
    min-width: 95vw;
    max-width: 95vw;
}

.column {
    border-right: 1px solid black;
    min-height: 100vh;
    max-width: 40vw;
}

.profileLeftMenu {
    padding-top: 5rem;
}

.profileLeftItem {
    display: flex;
    align-items: center;
}

.profileLeftSectionHeader {
    margin: 1rem 20px 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.profileRightItem {
    padding-top: 5rem;
    margin-left: 3rem;
}

.profilePanel {
    max-width: 60vw;
}