.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    max-width: 100vw;
}

.profileContainer {
    min-width: 90vw;
    max-width: 90vw;
    background: white;
}

.column :link {
    color: rgb(211, 210, 210);
}

.column :link :hover {
    color: white;
}

.column {
    border-right: 1px solid black;
    min-height: 100vh;
    min-width: 300px;
    background-color: rgb(86, 28, 201);
    color: white;
}

.navLink {
    color: white;
}

.columnRight {
    background-color: white;
}

.profileLeftMenu {
    padding-top: 5rem;
}

.profileLeftItem {
    display: flex;
    align-items: center;
}

.profileLeftSectionHeader {
    margin: 1rem 20px 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.profileRightItem {
    padding-top: 5rem;
    margin-left: 3rem;
}

.profilePanel {
    max-width: 60vw;
}

.profileMainViewSection {
    padding: 0.5rem 0rem;
}